<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.0" targetFramework="net461" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net461" />
  <package id="DAS.Infrastructure" version="1.0.0.43098" targetFramework="net461" />
  <package id="DAS.Infrastructure.Core" version="1.0.0.43098" targetFramework="net461" />
  <package id="DAS.Infrastructure.EventStore" version="1.0.0.6474" targetFramework="net461" />
  <package id="DAS.Infrastructure.Practices" version="1.0.0.6474" targetFramework="net461" />
  <package id="EventStore.Client" version="3.9.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NServiceBus" version="6.1.1" targetFramework="net461" />
  <package id="Serilog" version="2.3.0" targetFramework="net461" />
</packages>